<!DOCTYPE html>
<html>
  <head class="bioRhyme">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eCommerce App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="css/custom.scss.erb">

  </head>

  <body class="bioRhyme">

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Home", root_path, class: "navbar-brand" %>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Choose by Category <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% @categories.each do |category| %>
                  <li><%= link_to category.name, categorical_path(cat_id: category.id) %></li>
                <% end %>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Choose by Brand <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% @brands.each do |brand| %>
                  <li><%= link_to brand, branding_path(brand: brand) %></li>
                <% end %>
              </ul>
            </li>
          </ul>


          <ul class="nav navbar-nav navbar-right">
             <li>
              <%= link_to "Cart", view_order_path %>
            </li>
            <% if user_signed_in? %>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome, <%= current_user.email  %> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                   
                    <li>
                      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
                    </li>
                    <li>
                     <%= link_to "Edit Profile", edit_user_registration_path %> 
                    </li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to "Sign In", new_user_session_path %></li>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <% end %>
          </ul>
        </div>

      </div>
    </nav>


  	<div class="container">

	    <%= yield %>

  	</div>

  </body>
</html>
